<section class="main">
    <div class="main-group">
        <!-- Convertor block title -->
        <header class="title">
            {{Title}}
        </header>
        <!-- Convertor main content massage -->
        <div class="massage-block">
            <h1>1 {{currencyFromFormat}} равно</h1>
            <h3>{{Currency | number}} {{currencyToFormat}}</h3>
        </div>
        <article class="converter">
            <div class="converter-main">
                <!-- Converter main functionality -->
                <!-- Converter from block -->
                <div class="converter-from-block">
                    <!-- Input from block -->
                    <input class="text-field__input converter-block" type="number" [(ngModel)]="priceFromFormat"
                        (input)="priceFromEvent($event)">
                    <div class="text-field__message"></div>
                    <!-- Select from block -->
                    <select class="select-field__input converter-block" [(ngModel)]="currencyFromFormat"
                        (change)="currencyFromEvent($event)">
                        <option *ngFor="let currencies of currency" [value]="currencies.value">
                            {{currencies.value}}
                        </option>
                    </select>
                </div>
                <!-- Converter to block -->
                <div class="converter-to-block">
                    <!-- Input to block -->
                    <input class="text-field__input converter-block" type="number" [(ngModel)]="priceToFormat"
                        (input)="priceToEvent($event)">
                    <!-- Input to block -->
                    <select class="select-field__input converter-block" [(ngModel)]="currencyToFormat"
                        (change)="currencyToEvent($event)">
                        <option *ngFor="let currencies of currency" [value]="currencies.value">
                            {{currencies.value}}
                        </option>
                    </select>
                </div>
            </div>
        </article>
    </div>
</section>