<header class="header">
    <div class="tocurrency">
        <div>
            <div class="block1"><img src="https://flagicons.lipis.dev/flags/4x3/us.svg">  USD/UAH</div>
            <div class="block1"> <img src="https://www.svgrepo.com/show/18189/exchange.svg">  {{rate1}}</div>
        </div>
    </div>
    <div class="tocurrency">
        <div>
            <div class="block1"><img src="https://flagicons.lipis.dev/flags/4x3/eu.svg">EUR/UAH</div>
            <div class="block1"><img src="https://www.svgrepo.com/show/18189/exchange.svg">{{rate2}}</div>
        </div>
    </div>
</header>